h1 {
  

    color: rgb(236, 32, 32);
}
h2{
    alignment = "center";
    background-color: blueviolet;
}

.header{
    background-color:yellow ;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;

    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10% 20%; 
    padding: 12px;
    background-color: rgb(121, 101, 76);
}
body {
    background-color:#808080
}